@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;700&display=swap');

html,
body {
  font-family: 'Barlow', sans-serif;
}

ul#nav {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

ul#nav li {
  margin-right: 10px;
}

#header {
  display: flex;
  justify-content: space-between;
}
